

#header h1{
	color:hotpink;
}
 h1{
	color:hotpink;
}

 h2{
	color:green;
}

a{
	background-color: green;
	color: white;
	padding: 10px;
	text-decoration: none;
	border-radius: 5px;
}

td{
	background-color: #ccc;
	line-height: 30px;
	text-align: center;
	padding: 5px;
}
th{
	font-weight: bold;
	background-color: #ccc;
	line-height: 30px;
	text-align: center;
	padding: 5px;
}